.woocommerce-store-notice {
  text-align: center;
  background-color: #fff;
  position: fixed;
  width: 100%;
  bottom: 0;
  margin-top: 100px;
  z-index: 999!important;
}
.store-notice-wrap {
  padding: 10px;
  border-bottom: 1px solid #e5e5e5;
}