.woocommerce-store-notice {
  text-align: center!important;
  background-color: #f1f1f1!important;
  width: -webkit-fill-available!important;
  color: #000!important;
  position: fixed!important;
  border: none!important;
  padding: 1rem!important;
  margin: 0!important;
  bottom: 0!important;
  z-index: 999!important;
}
.woocommerce-store-notice .woocommerce-store-notice__dismiss-link {
  float: none!important;
  margin-right: 0!important;
}